@import '../modules/colours';

button {
    width: 120px;
    height: 50px;
    border: 0px;
    border-radius: 24px;
    color: $linesBlue;
    background-color: $linesWhite;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.start-button {
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
    font-size: 1.1em;
    background-color: $linesYellow;
    width: 100px;
    height:100px;
    @media screen and (min-width: 600px) {
	width: 150px;
	height: 150px;
    }
}
a, faIcon {
    text-decoration: none;
    color:  $linesYellow;
}

button:hover, button:active {
    background-color:  $linesYellowActive;
}

a:active, a:hover, .faIcon:active, .faIcon:hover, .faIconFooter:active, .faIconFooter:hover {
    color:  $linesYellowActive;
}

.record, .play, .pause, .clear, .checkbox {
    border: 2px solid $linesBlue;
    margin: 10px;
}

.record {
    color: $linesRed;
    border-radius: 50%;
}

.record:active, .record:hover, .recording:active, .recording:hover {
    color: $linesRedActive;
}

.recording {
    border: 2px solid $linesGreen;
    border-radius: 50%;
    color: $linesRed;
    margin: 10px;
}

.play:active, .play:hover {
    color: $linesGreen;
}

.checkbox {
    transition: all .2s;
}


input:checked ~ .checkmark {
    background-color: $linesLightBlue;
}
