$linesBlue: rgb(10,25,48);
$linesWhite: rgba(255,255,255,0.6);
$linesYellow: rgba(234,176,26,0.6);
$linesYellowActive: rgba(234,176,26,1);
$linesRed: #A31621;
$linesRedActive: #DB222A;
$linesGreen: #819E57;
$linesLightBlue: #86BBD8;
